.title-panel {
  margin-top: 15vh;
  margin-left: 40px;
}

.grid-box {
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  max-width: max-content;
}

.grid-container {
  margin-top: 5vh;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
}