#content {
  width: 95%;
  height: 75vh;
  display: flex;
  align-items: center;
  margin: 40px;
}

#content .info {
  width: 55vw;
}

#content .info p {
  font-size: 24px;
  font-weight: 100;
  width: 30vw;
  text-align: justify;
} 

.paragraphs {
  width: 600px;
  max-width: 600px;
  margin-left: 30px;
  margin-bottom: 100px;
  height: 500px;
  overflow: auto;
}

.paragraphs p {
  font-weight: 300;
}

#content .vertical-line {
  border-left: 4px solid var(--color-line-in-grey);
  height: 60vh;
  margin-right: 100px;
  gap: 40px;
}

#content .info h1 {
  color: var(--color-primary-lighter);
  font-size: 94px;
  font-weight: bold;
}

#content .info p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 30vw;
}

#content .info hr {
  border-top: 1px solid #fff;
  margin-top: 10px;
}

#data {
  width: 100vh;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-home {
  align-self: center;
}

#data .img-home {
  width: 50%;
  height: 50%;

  background-image: url("../../../assets/search.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#statistics {
  position:absolute;
  width: 100%;
  height: 100%;
}

#statistics h3 {
  color: var(--color-primary-dark);
  font-weight: bold;
  font-size: 36px;
}

#statistics p {
  font-size: 14px;
  font-weight: 300;
}

#first_item, #second_item, #third_item, #fourth_item,
#fifth_item, #sixth_item, #seventh_item {
  position: absolute;
}

#statistics #first_item {
  top: 10%;
  left: 8%;
  width: 10%;
}

#statistics #second_item {
  bottom: 40%;
  right: 80%;
}

#statistics #third_item {
  bottom: 0;
  top: 75%;
  right: 60%;
}

#statistics #fourth_item {
  right: 20%;
  bottom: 75%;
}

#statistics #fifth_item {
  right: 0;
  left: 35%;
}

#statistics #sixth_item {
  right: 0;
  bottom: 40%;
  left: 78%;
  width: 10px;
}

#statistics #seventh_item {
  right: 0;
  bottom: 0;
  left: 70%;
  top: 70%;
  width: 10px;
}

@media (min-width: 1600px) {
  .paragraphs {
    width: 600px;
    max-width: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 500px;
    overflow: auto;
  }

  #data .img-home {
    margin-top: 100px;
    margin-right: 40px;
    width: 40%;
    height: 40%;
  }
}

@media (min-width: 1691px) {
  #data .img-home {
    margin-bottom: 100px;
    margin-right: 10px;
    width: 40%;
    height: 40%;
  }
}

@media (min-width: 1902px) {
  #content {
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    margin: 40px;
  }

  .paragraphs {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 70px;
    width: 1000px;
    max-width: 1500px;
    height: max-content;
    overflow: auto;
  }

  #content .vertical-line {
    height: 60vh;
    margin-left: -150px;
  }

  #data .img-home {
    width: 30%;
    height: 30%;
    margin-right: 50px;
    margin-bottom: 120px;
  }
}

@media (min-width: 2028px) {
  #data .img-home {
    width: 30%;
    height: 30%;
    margin-right: 30px;
    margin-bottom: 150px;
  }
}

@media (min-width: 3043px) {
  #data .img-home {
    width: 30%;
    height: 30%;
    margin-right: 30px;
    margin-bottom: 190px;
  }
}

@media (min-width: 4564px) {
  #data .img-home {
    width: 30%;
    height: 30%;
    margin-right: 30px;
    margin-bottom: 300px;
  }
}
