.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #FCFFED;
}

.image-section img {
  margin-left: 20px;
  width: 350px;
  height: 80px;
}

.topics-section {
  max-width: 100%;
  position: relative;
  left: 650px;
}

.topics-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.topics-section ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 19px;
}