.footer-container {
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-text {
  margin-bottom: 16px;
  margin-left: 40px;
  font-size: 17px;
}

.social-icons {
  margin-right: 80px;
}

.home__social-icon {
  width: max-content;
  font-size: 30px;
  color: black;
  margin-left: 10px;
}

.home__social-icon:hover {
  color: #6AA8CA;
}