@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --color-background: #FCFFED;
  --color-secundary-lighter: #F9A826;
  --color-secundary-dark: #f48400;
  --color-primary-lighter: #6AA8CA;
  --color-primary-dark: #1D3292;
  --color-line-in-grey: #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #FCFFED;
  -webkit-font-smoothing: antialiased;
}