.title-panel-new-members {
  margin-top: 5vh;
  margin-left: 40px;
}

.new-members-list {
  margin-top: 15px;
  margin-left: 50px;
}

.new-members-list ul li {
  margin: 10px 0 10px 0;
  list-style: none;
}